@media (min-width: 320px) and (max-width: 480px) {
	.container{width:100%;}
	.header_top a{display: none;}
	/*.logo{width: 100%;text-align: center;}*/
	/*#nav-item {display: none;}*/
	nav .menu li{
		margin: 2px 0 0 0;
		padding: 0;
	}
	nav .menu li a,nav .menu li span, nav .open-submenu {
		display: block;
		background: #616161;
		padding: 10px;
	}
	.single_work {width: 100%;}
	.content .service, .content .team_members {width: 100%;}
	.splitter {width: 100%;}
	.single_service{width:100%;}
	.single_member{height: auto;float:none;}
	.single_section {
    	float: none;
    	width: 100%;
    	padding-bottom: 20px;
	}
	.copyright p {
    	padding-top: 8px;
    	float: none;
    	text-align: center;
	}
}


@media (min-width: 481px) and (max-width: 767px) {
	.container{width:100%;}
	.header_top a:nth-child(2){display: none;}
	/*.logo{width: 100%;text-align: center;}*/
	/*#nav-item {display: none;}*/
	nav .menu li{
		margin: 2px 0 0 0;
		padding: 0;
	}
	nav .menu li a,nav .menu li span, nav .open-submenu {
		display: block;
		background: #616161;
		padding: 10px;
	}
	/*menu ul li a:hover{
    color:#7c9c37;
    background: none;
	}	*/	
	.single_work {width: 48%; margin: 2% 1%;}
	.content .service, .content .team_members {width: 100%;}
	.splitter {width: 100%;}
	.single_service{width:48%;margin:10px 1%;}
	.single_member{height: auto;}
	.footer{min-height: 640px;}
	.single_section {
    	width: 48%;
    	margin:10px 1%;
	}
	.copyright p {
    	padding-top: 8px;
    	float: none;
    	text-align: center;
	}

}


@media (min-width: 768px) and (max-width: 1024px) {
		.container{width:100%;}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

}

@media (min-width: 1025px) and (max-width: 1280px) {
 
}

@media (min-width: 1281px) {

}