* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    line-height: 19.2px;
    color: #666666;
}

h4 {
    font-size: 18px;
    line-height: 21.6px;
}

a,.active,a.active {
    text-decoration: none;
    color: #7c9c37;
}

::-moz-selection {
    /* Code for Firefox */
    color: #7c9c37;
    background: #e1e1e1;
}

::selection {
    color: #7c9c37;
    background: #e1e1e1;
}

.container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.px {
    padding: 0 20px;
}

.header_top {
    height: 35px;
    background-color: #fff;
}

.header_top a {
    color: #666666;
    text-decoration: none;
    display: inline-block;
    padding-top: 9px;
}

.header_top a:first-child {
    padding-right: 25px;
}

.header_top form input {
    background-color: #e1e1e1;
    height: auto;
    width: 210px;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    color: #666666;
    margin-top: 5px;
    position: relative;
    right: -30px;
}

.header_top form button {
    position: relative;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    top: 4px;
}

button img {
    border-radius: 100%
}

nav {
    background-color: #222222;
    min-height: 95px;
    border-bottom: 5px solid #7c9c37;
}

nav .navbar {
    color: white;
    margin: 0;
    width: auto;
}

nav .logo {
    font-size: inherit;
}

.navbar .logo h2 {
    font-variant: small-caps;
    font-size: 26px;
    line-height: 26px;
    padding-top: 27px;
}

.menu ul li a {
    color: #fff;
    padding: 0;
    display: inline-block;
}
.menu ul li a.active{
	color:#7c9c37;
}

.menu ul li a:hover {
    color: #7c9c37;
    background: none;
}

.menu ul {
    display: block;
    margin-top: 35px;
    /*width: 645px;*/
}

.menu ul li {
    float: left;
    list-style-type: none;
    border-right: 1px solid #828282;
    padding: 0 20px;
    border-left: none;
}

.menu ul li:first-child {
    padding-left: 0;
}

.menu ul li:last-child {
    padding-right: 0;
    border-right: none;
}

.slider .item {
    height: 380px;
}

.slider .item img {
    height: 100%;
}

.owl-theme .owl-nav {
    margin-top: 10px;
    position: absolute;
    top: 48%;
    left: 0;
    right: 0;
}

button.owl-prev {
    float: left;
}

button.owl-next {
    float: right;
}

button.owl-prev img,
button.owl-next img {
    background-color: black;
    padding: 15px;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

button.owl-prev img:hover,
button.owl-next img:hover {
    background-color: rgba(26, 38, 39, 0.6);
}

.owl-nav button:focus {
    outline: none !important;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
    background: none !important;
    border-radius: 100% !important;
}

.shout h3 {
    font-size: 28px;
    line-height: 42px;
    color: #333333;
    font-style: italic;
    text-align: center;
}

.splitter {
    padding: 40px 0;
}

.single_work {
    float: left;
    width: 23%;
    margin: 0 1%;
    background: #F0F0F0;
}

.no-margin {
    margin-right: 0;
}

.single_work img {
    width: 100%;
    height: 140px;
}

.single_work img:hover {
    opacity: .5;
    cursor: pointer;
}

.single_work h4 {
    color: #7c9c37;
    padding: 10px 15px;
}

.single_work p {
    padding: 0 15px 20px 15px;
}

.content {
    min-height: 400px;
}

.content .service {
    padding-right: 10px;
}

.content .service,
.content .team_members {
    width: 49%;
}

.heading {
    border-bottom: 1px solid #ddd;
    height: 35px;
}

.heading>a {
    float: right;
    color: #7c9c37;
    font-size: 13px;
    line-height: 15.6px;
    text-decoration: none;
}

.heading>h4 {
    float: left;
}

.single_service,
.single_member {
    padding-top: 20px;
    float: left;
    width: 50%;
    height: 100px;
}

.service .single_service img {
    display: block;
    float: left;
    padding-right: 15px;
    padding-bottom: 100%;
    padding-top: 4px;
}

.service .single_service h4 {
    font-size: 14px;
    color: #7c9c37;
}

.service .single_service p {
    font-size: 13px;
}

.team_members .single_member>img {
    width: 225px;
    height: 225px;
}

.footer {
    background-color: #222222;
    min-height: 300px;
    padding: 25px 20px;
    border-bottom: 1px solid #000000;
}

.single_section {
    float: left;
    width: 23%;
    margin-right: 2%;
}

.footer div:last-child {
    margin-right: 0;
}

.about {}

.link_block {}

.blog {}

.contact {}

.single_section h4:first-child {
    padding-bottom: 25px;
    text-transform: uppercase;
}

.single_section p {}

.single_section a {
    line-height: 27.6px;
}

.about img {
    width: 210px;
    height: 90px;
    padding: 3px;
    border: 2px solid #3a3a3a;
}

.link_block ul li {
    list-style-type: none;
    border-bottom: 1px solid #3a3a3a;
}

.newsletter {
    padding: 20px 0;
}

.contact input {
    background-color: #353535;
    color: #666;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.contact input[type="submit"] {
    background-color: #7c9c37;
    color: #fff;
}

.contact input[type="submit"]:hover {
    background-color: #353535;
    color: #7c9c37;
    cursor: pointer;
}

.copyright {
    border-top: 1px solid #3a3a3a;
    height: 60px;
    background-color: #222222;
}

.copyright p {
    padding-top: 20px;
}